{% extends "base.html" %}

{% block content %}
  {{ super() }}
  <div class="demo-page">


  <main class="demo-page-content">


  <form action="/" method = "POST" >

    <section>

      <div class="href-target" id="input-types"></div>
      <h1>
        Расчет уровня воды на 14 дней
      </h1>
      <p>Река "Подкаменная Тунгуска" поселок "Ванавара" </p>
      <p>Все данные вводятся через пробел.</p>
      <div class="nice-form-group">
        <label>Начальная дата</label>
        <input type="date" value="2018-07-22"  name="date" required/>
      </div>

      <div class="nice-form-group">
        <label>Покрытие  снега на 14 дней</label>
        <input type="text" placeholder="Покрытие  снега : 10 10 10 10 10 10 10 10 10 10 10 10 10 10"  name="degree_coverage" value="" required/>
      </div>

      <div class="nice-form-group">
        <label>Высота снежного покрова на 14 дней</label>
        <input type="text" placeholder="Высота снежного покрова : 56 54 52 47 42 36 30 25 23 21 18 15 12 11"  name="snow_height" value="" required/>
      </div>

       <div class="nice-form-group">
        <label>Текущая средняя температура </label>
        <input type="text" placeholder="Текущая средняя температура" name="tmean" value="-1.9" required/>
      </div>

      <div class="nice-form-group">
        <label>Температура за предыдущие 14 дней (не считая текущий) </label>
        <input type="text" placeholder="Формат ввода : 2.5 2.1 -1.5 -0.7 1.5 -2.6 -3 -2 -4.6 -11.2 -15.8 -13 0.5 -0.3"  name="pasday" value="" required/>
      </div>



      <div class="nice-form-group">
        <label>Прогноз температуры на 14 дней</label>
        <input type="text" placeholder="Формат ввода : 0.1 -0.5 3.3 3.9 5.5 1.8 2.8 3.7 5 4.4 5.3 4.8 -1 -5.6" name="w_forecast" value="" required/>
      </div>



      <div class="nice-form-group">
        <label>Уровень воды за предыдущии 7 дей</label>
        <input type="text" placeholder="Формат ввода : 20,25,43,88,120,200,281 " name="pas_level" value="60 59 59 58 58 58 58" required/>
      </div>

    <div class="nice-form-group">
    <div >
        {% for message in get_flashed_messages() %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
      </div>  </div>

      <details>
        <summary>

          <input class="toggle-code" type="submit" value="Рсчитать" />


        </summary>
        <script src=""></script>
      </details>

    </section>




  </form>


  </main>

</div>

  
{% endblock %}